<!doctype html>

<html>
<head>
	<title>Sam Sampson</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/stylesheets/screen.css" rel="stylesheet">
</head>

<body>
	<div id="option-container">
  	<ul class="options">
			<!-- Begin Intro Message -->
			<li class="intro active">
				<div class="option">
					<div class="can">
						{{#each intromessages}}
						<p>{{message}}</p>
						{{/each}}
					</div>
					<span class="select compost">
						CLICK TO BEGIN
					</span>
				</div>
			</li>
			<!-- End Finish Message -->

			<!-- Begin Trash Cans -->
			{{#each trashcans}}
			<li>
				{{#if banner}}
				<div class="banner">
					<img src="{{banner}}" />
				</div>
				{{/if}}
				{{#each options}}
				<div class="option">
					<div class="can {{type}}">
						{{#if imgsrc}}<img src="{{imgsrc}}" alt="{{description}}" />
						{{else}}{{description}}
						{{/if}}
					</div>
					<span class="select {{type}}" correct="{{correct}}" type="{{type}}">
						{{buttontext}}
					</span>
				</div>
				{{/each}}
			</li>
			{{/each}}
			<!-- End Trash Cans -->

			<!-- Begin Finish Message -->
			<li class="finished">
				<div class="option">
					<div class="can">
						{{#each finishmessages}}
						<p{{#if class}} class="{{class}}"{{/if}}>{{message}}</p>
						{{/each}}
					</div>
					<span class="select compost">
						CLICK TO START OVER
					</span>
				</div>
			</li>
			<!-- End Finish Message -->
		</ul>
	</div>

	<div id="trash-container">
  	<ul class="items">
			<li class="intro active"></li>
			{{#each trashitems}}
			<li>
				<div class="trash-img">
					{{#if imgsrc}}<img src="{{imgsrc}}" alt="{{description}}" />
					{{else}}{{description}}
					{{/if}}
				</div>
			</li>
			{{/each}}
		</ul>
	</div>

	<script src="/scripts/jquery-1.11.0.js"></script>
	<script src="/scripts/trashsort.js"></script>
</body>
</html>
